#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.expenses-page {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.user-info {
  padding: 3em 0;
}

.radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.balance h4, .balance p {
  margin: 0;
}

.user-info h4{
  margin: 0.5em;
}

.user-info button {
  padding: 0.4em;
  margin-bottom: 0.6em;
}