#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1280px;
}

.card {
  padding: 2em;
}

.expenses-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  order: 1;
}

.expense-tracker {
  order: 2;
}

.transactions {
  order: 3;
}

.radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.balance h4,
.balance p {
  margin: 0;
}

.user-info h4 {
  margin: 0.5em;
}

.user-info button {
  padding: 0.4em;
  margin-bottom: 0.6em;
}

@media screen and (max-width: 782px) {
  .expenses-page {
    gap: 30px;
  }

  .user-info {
    padding: 1em 0;
  }
}

@media screen and (max-width: 1182px) {
  .expense-tracker {
    order: 3;
  }

  .transactions {
    order: 2;
  }
}

.error {
  color: red;
  margin: auto;
}

.summary {
  display: flex;
  justify-content: space-evenly;
}